@import "../shared.scss";

.btn {
  @include variable( 'color', 'primary-text-color', $primary-text-color );
  border: 0;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;

  &.btn--disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .5;
  }

  &.btn--lean {
    padding: 10px 15px;
  }
  
  &.btn--rounded {
    border-radius: 0px;
  }

  &.btn--large {
    font-size: 32px;
  }

  &.btn--medium {
    font-size: 20px;
  }

  &.btn--bold {
    font-weight: 700;
  }

  &.btn--gray {
    @include variable( 'background', 'secondary-button-background', $secondary-button-background );
  }

  &.btn--clear {
    background: transparent;
  }

  &.btn--semi-clear {
    @include variable( 'background', 'secondary-button-background', $secondary-button-background );
    @include variable( 'color', 'secondary-button-text', $secondary-button-text );
    border-radius: 5px;
  }

  &.btn--brand {
    @include variable( 'background', 'primary-button-background', $primary-button-background );
    @include variable( 'color', 'primary-button-text', $primary-button-text );
    border-radius: 5px;
  }
}