@import "styles/shared.scss";

.Timeline {
	@include fancy-scrollbar( $timeline-background, $light-gray );
	@include variable( 'background', 'timeline-background', $timeline-background );

	position: relative;
	display: flex;
	height: 100%;
	padding: 25px 15px;
	overflow: auto;
	border-radius: 5px;
	-webkit-overflow-scrolling: touch;
	
	box-shadow: 1px 2px 5px rgba(100,100,100,0.2),
				-2px 2px 30px rgba(100,100,100,0.1);

	
	.time-segments {
		width: 100%;
		padding-top: 25px;
		z-index: 1;
	}

	.time-block {
		height: 135px;
		display: flex;
		
		.time {
			@include variable( 'color', 'timeline-text', $timeline-text );

			position: relative;
			top: -20px;
			text-transform: uppercase;
			text-align: center;

			.primary {
				font-weight: 700;
			}

			.secondary {
				font-size: 10px;
				
				div {
					@include variable( 'color', 'timeline-lines', $timeline-lines );
					position: relative;
					top: 25px;
					padding-bottom: 3px;
					border-bottom: 1px solid;
					@include variable( 'border-color', 'timeline-lines', $timeline-lines );
				}
			}
		}

		.segment {
			border-top: 1px solid;
			@include variable( 'border-color', 'timeline-lines', $timeline-lines );

			width: 100%;
			height: 1px;
		}
	}
}