@import "./styles/shared.scss";

.RoomsList {
	width: 100%;
	height: 100%;
	display: flex;

	.placeholder {
		@include variable( 'color', 'primary-text-color', $primary-text-color );

		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 50vh;
		font-size: 40px;
	}
}

