@import "./styles/shared.scss";

.ConfirmDetails {

	h2 {
		@include variable( 'color', 'primary-text-color', $primary-text-color );
		font-size: 30px;
		font-weight: 100;
		line-height: 1.6;
	}	

	h3 {
		@include variable( 'color', 'secondary-text-color', $secondary-text-color );
		font-size: 20px;
		font-weight: 700;
	}
}

.ConfirmDetails__icon {
	width: 95%;
	text-align: center;
	margin: 15px 0;

	svg {
		@include variable( 'stroke', 'primary-text-color', $primary-text-color );
		height: 125px;
		width: 125px;

		stroke {

		}
	}
}

.ConfirmDetails__details {
	text-align: center;
}