@import "./styles/shared.scss";

.Form {
  display: flex;
}

.form-container {
  width: 100%;
}

.primary-button {
  min-height: 90px;
}

.secondary-button {
  min-height: 80px;
}


.overview__action-btns {
  .btn {
    display: block !important; // fix for button collapsing. not sure why
  }
}

#duration-label {
  position: absolute;
  top: 41px;
  left: 300px;
  z-index: 1;
  transition: .5s ease;
  color: $gray;

  &.float-left {
    left: 40px;
    color: rgba(255,255,255,.5);
  }
}

.form-group {
  margin-bottom: 20px;
  position: relative;

  label {
    @include variable( 'color', 'form-input-label-text', $form-input-label-text );

    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.2px;
    clear: both;
  }

  input[type=text] {
    @include variable( 'color', 'form-input-text', $form-input-text );
    @include variable( 'background', 'form-input-background', $form-input-background );
    width: 100%;
    height: 60px;
    font-size: 30px;
    padding: 23px 10px 10px 10px;
    line-height: .8;
    outline: none;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;
    -webkit-appearance: none;
  }

  select {
    @include variable( 'color', 'form-input-text', $form-input-text );
    @include variable( 'background', 'form-input-background', $form-input-background );

    width: 100%;
    height: 65px;
    appearance: none;
    padding: 23px 10px 10px 10px;
    outline: none;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid darken($form-input-background, 5%);
    margin-top: 10px;
  }
}

.form-buttons {
  display: flex;
  flex-direction: column;

  .btn--brand {
    margin-bottom: 25px;
  }
}

.input-range__slider {
  @include variable( 'background', 'primary-button-background', $primary-button-background );

  appearance: none;
  border: 1px solid;

  @include variable( 'border-color', 'primary-button-background', $primary-button-background );

  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 4rem;
  outline: none;
  position: absolute;
  left: -25px;
  top: -45px;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 4rem;
  z-index: 5;

  &:active {
    transform: scale(1.1);
  }
}

.input-range__slider-container {
  transition: left 0.3s ease-out;
}

.input-range__label {
  @include variable( 'color', 'form-input-label-text', $form-input-label-text );

  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min, .input-range__label--max {
  display: none;
  bottom: -1.5rem;
  position: absolute;
}

.input-range__label--min {
  left: 0;
}

.input-range__label--max {
  right: 0;

  .input-range__label-container {
    left: 50%;
  }
}

.input-range__label--value {
  @include variable( 'color', 'form-input-background', $form-input-background );

  position: absolute;
  pointer-events: none;
  top: -26px;
  left: 7px;
  text-shadow: 1px 2px 2px rgba($dark-gray, 0.2);
  z-index: 99;
  font-size: 18px;
}

.input-range__label-container {
  left: -50%;
  position: relative;
}

.input-range__track {
  @include variable( 'background', 'form-input-background', $form-input-background );

  border-radius: 1rem;
  cursor: pointer;
  display: block;
  height: 1.5rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  @include variable( 'background', 'primary-button-background', $primary-button-background );
}

.input-range {
  margin-left: 20px;
  height: 5rem;
  position: relative;
  width: calc(100% - 40px);
}