@import './shared.scss';

:root {
    --background-overlay: $background;
    
    --room-status-available: $room-status-available;
    --room-status-busy: $room-status-busy;
    
    --primary-text-color: $primary-text-color;
    --secondary-text-color: $secondary-text-color;
    
    --timeline-background: $timeline-background;
    --timeline-text: $timeline-text;
    --timeline-lines: $timeline-lines;
    
    --timeline-card-background: $timeline-card-background;
    --timeline-card-text: $timeline-card-text;
    
    --timeline-indicator-available: $timeline-indicator-available;
    --timeline-indicator-busy: $timeline-indicator-busy;
    
    --form-input-background: $form-input-background;
    --form-input-label-text: $form-input-label-text;
    --form-input-text: $form-input-text;

    --primary-button-background: $primary-button-background;
    --primary-button-text: $primary-button-text;
    --secondary-button-background: $secondary-button-background;
    --secondary-button-text: $secondary-button-text;


    --scrollbar-background: $timeline-text; 
    --scrollbar-foreground: $timeline-background;
}