@mixin variable($property, $variable, $fallback) {
  #{$property}: $fallback;
  #{$property}: var(--#{$variable});
}

@mixin fancy-scrollbar($track: red, $thumb: blue ) {
	&::-webkit-scrollbar {
	 	height: 2px;
		width: 2px;
	}

	&::-webkit-scrollbar-button {
	  	height: 0;
		width: 0;
	}

	&::-webkit-scrollbar-thumb {
	  	background: $thumb;
	  	background: var(--scrollbar-foreground);
	  	border: 0;
	  	border-radius: 50px;
	}

	&::-webkit-scrollbar-thumb:hover {
	  	background: $thumb;
	  	background: var(--scrollbar-foreground);
	}

	&::-webkit-scrollbar-thumb:active {
	  	background: $thumb;
	  	background: var(--scrollbar-foreground);
	}

	&::-webkit-scrollbar-track {
	  	background: $track;
	  	background: var(--scrollbar-background);
	  	border: 0 none $track;
	  	background: var(--scrollbar-background);
	  	border-radius: 50px;
	}

	&::-webkit-scrollbar-track:hover {
	  	background: $track;
	  	background: var(--scrollbar-background);
	}

	&::-webkit-scrollbar-track:active {
	  	background: $track;
	  	background: var(--scrollbar-background);
	}

	&::-webkit-scrollbar-corner {
	  	background: transparent;
	}
}