// Palette
$green: rgba(15, 223, 147, 1.0);
$red: rgba(252, 64, 71, 1.0);
$yellow: rgba(255, 206, 18, 1.0);
$dark-gray: rgba(50,50,50,1.0);
$gray: rgba(180,180,180, 1.0);
$light-gray: rgba(235, 235, 235, 1.0);
$brand-color: $red;

@import "mixins.scss";

$background: rgba(248,248,248,1.0);


// Misc.
$room-status-available: $green;
$room-status-busy: $red;


// Fonts
$primary-text-color: $dark-gray;
$secondary-text-color: $gray;

// Timeline

$timeline-background: white;
$timeline-text: $gray;
$timeline-lines: $light-gray;

$timeline-card-background: $dark-gray;
$timeline-card-text: white;

$timeline-indicator-available: $green;
$timeline-indicator-busy: $red;

// Form
$form-input-background: white;
$form-input-label-text: $gray;
$form-input-text: $dark-gray;

// Buttons
$primary-button-background: $brand-color;
$primary-button-text: white;
$secondary-button-background: $light-gray;
$secondary-button-text: rgba(32,32,32,1.0);