@import "./styles/shared.scss";

.RoomsList__Room {
	flex: 1;
	margin: 0 10px;

	display: flex;
	flex-direction: column;

	h2 {
		font-size: 20px;
		text-align: center;
		line-height: 1.2;
		font-weight: 400;
		margin-bottom: 1.5vh;
		height: 50px;
		overflow: hidden;
		flex: 0 1 auto;

		@include variable( 'color', 'primary-text-color', $primary-text-color );
	}

	.btn {
		flex: 0 1 auto;
	}

	.Timeline {
		flex: 1;
		margin-bottom: 2vh;
	}
}