@import "styles/shared.scss";

.App {
	width: 100vw;
	height: 100vh;

	@include variable( "background", "background-overlay", $background );

	background-position: fixed;
	background-size: cover;
}

.main-content {
	width: 100%;
	height: 90vh;
	padding-top: 3vh;
}

.two-column {
	display: flex;
	justify-content: space-around;
	width: calc(100% - 30px);
	margin: 10px 10px 10px 20px;
	height: 82vh;

	.column {
		width: 50%;
		height: 100%;
		position: relative;
	}
}

.one-column {
	width: calc(100% - 30px);
	margin: 10px 10px 10px 20px;
	height: 82vh;

	.column {
		width: 100%;
		height: 100%;
		position: relative;
	}
}

.column-inner {
	width: 100%;
	padding-right: 20px;
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.last-updated {
	@include variable( "color", "secondary-text-color", $secondary-text-color );
	position: absolute;
	bottom: 10px;
	right: 15px;
	font-size: 12px;
}
