@import "./styles/shared.scss";

.Clock {
	@include variable( 'color', 'primary-text-color', $primary-text-color );
	text-align: right;
}

.Clock h4 {
	font-size: 14px;
	font-weight: 100;
}

.Clock span {
	font-size: 18px;
}