@import "styles/shared.scss";

.Timeline--small {
	.TimelineItem {

		&.small {
			padding: 5px 15px;

			.item-title {
				margin-left: 0;
				max-width: 100%;
				text-align: left;
				font-size: 12px;
			}

			.item-time {
				display: none;
			}
		}

		&.medium, &.large {
			padding: 5px 15px;

			.item-time {
				font-size: 12px;
			}

			.item-title {
				font-size: 20px;
			}
		}
	}
}


.TimelineItem {
	@include variable( 'background-color', 'timeline-card-background', $timeline-card-background );
	@include variable( 'color', 'timeline-card-text', $timeline-card-text );

	position: absolute;
	height: 32.5px;
	border-bottom: 1px solid;

	@include variable( 'border-color', 'timeline-background', $timeline-background );

	border-radius: 3px;
	margin-left: 30px;
	width: calc(100% - 65px);
	padding: 0px 15px;
	transition: all .75s ease;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 1;

	.item-title {
		overflow: hidden;
	}

	.item-time {
		@include variable( 'color', 'secondary-text-color', $secondary-text-color );
	}

	&.small {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		.item-title {
			max-height: 40px;
			line-height: 1.1;
			margin-left: 24px;
			font-size: 18px;
			max-width: 60%;
			text-align: right;
		}

		.item-time {
			flex-direction: column;			
			align-items: flex-end;
			font-size: 14px;
			letter-spacing: .5px;
			font-weight: 700;
		}
	}


	&.medium {	
		.item-title {
			max-height: 95px;
			font-size: 32px;
			font-weight: 100;

		}

		.item-time {
			font-weight: 700;
			font-size: 18px;
		}
	}


	&.large {	
		.item-title {
			max-height: 95px;
			font-size: 32px;
			font-weight: 100;
		}

		.item-time {
			font-weight: 700;
			font-size: 20px;
		}
	}
}