@import "styles/shared.scss";

.TimeIndicator {	
	position: absolute;
	width: calc( 100% - 50px );
	left: 42px;
	top: 50px;
	height: 2px;
	transition: 1s ease;
	z-index: 999;

	&.available {
		@include variable( 'background', 'timeline-indicator-available', $timeline-indicator-available );

		&:before {
			@include variable( 'background', 'timeline-indicator-available', $timeline-indicator-available );
		}
	}

	&.busy {
		@include variable( 'background', 'timeline-indicator-busy', $timeline-indicator-busy );

		&:before {
			@include variable( 'background', 'timeline-indicator-busy', $timeline-indicator-busy );
		}
	}

	&:before {	
		position: absolute;
		top: -2px;
		left: -2px;
		transition: 1s ease;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		content: ' ';
	}
}