@import "./styles/shared.scss";
@import "./styles/css-variables.scss";
@import "./styles/components/button.scss";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}

body,html, #root, {
	width: 100%;
	height: 100%;
}

.page-title {
  @include variable( 'color', 'primary-text-color', $primary-text-color );
  
	font-weight: 100;
	padding-bottom: 5px;
	margin-bottom: 15px;
  // TODO -- Should be a CSS Variable but need a workaround for opacity
  border-bottom: 1px solid rgba($primary-text-color,.1);
}

.push-to-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
}