@import "./styles/shared.scss";

.Overview {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.overview__status {
	@include variable( 'color', 'primary-text-color', $primary-text-color );
    font-size: 250%;
    font-weight: 100;
    margin-bottom: 4vh;
}

.overview__action-btns {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-end;

	.btn--brand {
		margin-bottom: 25px;
	}
}

.overview__current-meeting,
.overview__next-meeting {
	margin-bottom: 2vh;

	h3 {
		@include variable( 'color', 'secondary-text-color', $secondary-text-color );
		font-size: 20px;
		font-weight: 700;
	}

	h2 {
		@include variable( 'color', 'primary-text-color', $primary-text-color );
		font-size: 25px;
		font-weight: 100;
	}
}

.overview__status span {
    text-transform: capitalize;

    &.available {
		@include variable( 'color', 'room-status-available', $room-status-available );
    }
    
    &.unavailable {
		@include variable( 'color', 'room-status-busy', $room-status-busy );
    }
}
